body {
    background-color: cadetblue;
}

a {
    color: rgb(23, 71, 57);
}

a:hover {
    color: white;
    text-shadow: 5px 5px 5px #145c5c;
}

.App {
    display: grid;
    justify-items: center;
    color:black;
    box-sizing: border-box;
}

.data-vis-wrapper {
    max-width: 100%;
    display: flex;
    flex-basis: max-content;
}

.list-group-item {
    border: none;
    align-self: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px;
}

input {
    border: none;
    border-radius: 5px;
}

.btn-success,
.btn-success:active,
.btn-success:focus
{
    color: #fff;
    background-color: #145c5c;
    border-color: #145c5c;
}

.btn-success:hover {
    color: #fff;
    background-color: #348888;
    border-color: #348888;
}

.Alert {
    align-self: center;
}

input.amountEventsOnePage {
    max-width: 40px;
}

.suggestions {
    padding: 0;
    width: 185px;
    list-style: none;
    position: absolute;
    z-index: 2;
    align-self: center;
    margin: 0;
    top: 82px;
    font-size: 14px;
    box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  }
  
  .suggestions > li {
    text-align: left;
    padding: 8px 6px 8px 10px;
    background-color: #eee;
    cursor: default;
  }
  
  .suggestions > li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .suggestions > li:hover {
    background-color: #bcdcdb;
  }

  
@media screen and (min-width:0px) and (max-width:270px) {
}

@media screen and (min-width:270px) and (max-width:450px) {
}

@media screen and (max-width:1000px) {
    .data-vis-wrapper {
        flex-direction: column;
    }
}