html {
    height: -webkit-fill-available;     
}

body, .list-group-item {
    border-left: 50px solid #214b4c;
    border-right: 50px solid #214b4c; 
    display: grid;
    justify-items: center;
    color:black;
    box-sizing: border-box;
    background-color: cadetblue;
    height: auto;
    min-height: 100%;    
}

.list-group-item {
    border: none;
    align-self: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px;
}

input {
    border: none;
    border-radius: 5px;
}

.btn-success,
.btn-success:active,
.btn-success:focus
{
    color: #fff;
    background-color: #145c5c;
    border-color: #145c5c;
}

.btn-success:hover {
    color: #fff;
    background-color: #348888;
    border-color: #348888;
}

.CitySearch {
    display: grid;
    justify-content: center;
    padding: 10px;
}

.numberOfEvents {
    display: flex;
    justify-content: center;
    padding: 10px;
}

input.amountEventsOnePage {
    max-width: 40px;
}

.CitySearch li {
    list-style: none;
}

.numberOfEvents {
    align-items: baseline;
    text-align-last: right;
}

.numberOfEvents p {
    margin: 0;
}

@media screen and (min-width:0px) and (max-width:270px) {
    body {
        border-left: 2px solid #214b4c;
        border-right: 2px solid #214b4c;
    }
}

@media screen and (min-width:270px) and (max-width:450px) {
    body {
        border-left: 10px solid #214b4c;
        border-right: 10px solid #214b4c;
    }
}