.CitySearch {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 250px;
    margin: auto;
    position: relative;
  }

.CitySearch h5 {
    text-align: center;
    margin: 0;
}