.inactive {
    display: none;
  }

.active {
  display: inline-block;
  max-width: fit-content;
}

.EventList {
  display: grid;
}

.card {
  max-width: 450px;
}

.card-body {
  min-height: 260px;
}

.EventList {
  width: 50%;
  margin-left: 25%;
}

@media screen and (min-width:0px) and (max-width:450px) {
  .card-title {
    font-size: 15px;
    max-width: 200px;
  }
  .EventList {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:450px) and (max-width:750px) {
  .card-title {
    font-size:1rem;
    max-width: 200px;
  }
  .EventList {
    grid-template-columns: repeat(2, 1fr );
    width: auto;
    margin: 0;
  }
}

@media screen and (min-width:750px) {
  .card-title {
    font-size:1.25rem;
    max-width: 300px;
  }
  .EventList {
    grid-template-columns: repeat(2, 1fr );
  }
}