.inactive {
    display: none;
  }

.active {
  display: inline-block;
  max-width: fit-content;
}

.card {
  max-width: 450px;
}

.card-body {
  min-height: 248px;
  position: relative;
}

.visibleCardContent {
  min-height: 177px;
}

@media screen and (min-width:0px) and (max-width:450px) {
  .card-title {
    font-size: 15px;
    max-width: 200px;
  }
}

@media screen and (min-width:450px) and (max-width:750px) {
  .card-title {
    font-size:1rem;
    max-width: 200px;
  }

  .card-body {
    min-height: 290px;
  }
}

@media screen and (min-width:750px) {
  .card-title {
    font-size:1.25rem;
    max-width: 300px;
  }

}