.list-group-item {
    border: none;
    align-self: center;
}

.card {
    width: 500px;
}

.CitySearch, .numberOfEvents {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.CitySearch li {
    list-style: none;
}

.numberOfEvents {
    align-items: baseline;
}