.inactive {
    display: none
  }

.active {
  display: block
}

.EventList {
  display: grid;
}

.card {
  max-width: 450px;
}

@media screen and (min-width:0px) and (max-width:450px) {
  .card-title {
    font-size: 15px;
    max-width: 200px;
  }
  .EventList {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:450px) and (max-width:750px) {
  .card-title {
    font-size:1rem;
    max-width: 200px;
  }
  .EventList {
    grid-template-columns: repeat(2, 1fr );
  }
}

@media screen and (min-width:750px) {
  .card-title {
    font-size:1.25rem;
    max-width: 300px;
  }
  .EventList {
    grid-template-columns: repeat(2, 1fr );
  }
}